@import "tailwindcss";

/* Configuração de fonte padrão para todos os elementos */
@layer base {
  * {
    font-family: var(--font-sans);
  }
}

body {
  background: #030712;
  color: #ffffff;
  font-family: var(--font-sans);
}
